@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600);


#hero {
  text-align: center;
  background: url("../images/gfh_background.gif");
  background-size: cover; /*For covering full page*/
  background-color: #e0dbb3;
  background-position: center;
  color:#538243;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

}

header {

  font-family: 'Open Sans', sans-serif;
}

nav a {
  color:#538243 ;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
}

a:hover {
  color: #7e324a;
}

body {

  margin:0 ;
  
}

h1{

  font-size: 1.5em;
  padding: 10px 50px;

}

h3 {
  font-size: 1em;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 50px;
}

#logo {

   display: block;
   margin: auto; 
   width: 380px;
}

#ourstory {

  text-align: center;
  background: url("../images/gfh_veggiesbackground.png");
  background-size: cover;
  display: inline-block;
  padding: 0 0 60px 0;
  color:#538243;

}

#givefood {

  text-align: center;
  display: block;
  padding: 0 20px;
  color:#538243;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

.button {

  margin: 10px;
  width: 200px;
}

iframe {

  display: inline-block;
  padding: 20px 100px;  
}


#letterbutton {
  display: block;
  margin: auto; 
  width: 250px;
  padding-top: 20px;
  padding-bottom:50px;
}


footer {

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#538243;
  clear: both;
}

hr {
  size: 10px;
  color:#538243;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;


