@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600);


#hero {
  text-align: center;
  background: url("../images/gfh_background.gif");
  background-size: cover; /*For covering full page*/
  background-color: #e0dbb3;
  background-position: center;
  color:#538243;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 100%;
  padding-top: 50px;

}

body {

  margin:0 ;
  
}

h1{

}

#logo {

   display: block;
   margin: auto; 
   width: 450px;
}

#ourstory {

  background-color: #538243;

}

#givefood {

  background-color: purple;

}

.button {

  margin: 10px;
  width: 200px;


}
