@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600);

header {

  font-family: 'Open Sans', sans-serif;
}

body {

  margin:0 ;
}

h1,h2{

  font-size: 1.3em;
  padding: 30px 50px 30px 50px;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color:#538243;

}

h3 {
  font-size: 1em;
  padding: 30px 50px 30px 50px;
  font-weight: bold;
  line-height: 1.5;
}

p {
  font-size: 1em;
  line-height: 1.6;
  padding: 0 50px;
}

nav {
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

nav a {
  color:#538243 ;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  border-right: 2px solid #9fb28f;
}

nav a:last-of-type{
  border: none;
}

a:hover {
  color: #7e324a;
}

hr{
  border:none;
  height:3px;
  background-color: #9fb28f;
  width:20em;
  margin:1em auto;
}

footer {

  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#538243;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(224, 219, 179, .3);
  clear: both;
}


#hero {
  text-align: center;
  background: url("../images/gfh_newbackground.png");
  background-size: cover; /*For covering full page*/
  background-color: #e0dbb3;
  background-position: center;
  color:#538243;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;

}


#logo {

   display: block;
   margin: auto; 
   padding-top: 30px;
   width: 340px;
   clear: both;
}

#arrow {
   width: 50px;
   text-align: center;
}
  

#ourstory {

  text-align: center;
/*  background: url("../images/gfh_veggiesbackground.png");*/
  background-size: cover;
  display: inline-block;
  padding:0 50px;
  color:#538243;

}

#givefood {

  text-align: center;
  display: block;
  color:#538243;
  font-family: 'Open Sans', sans-serif;
}


#video {
  width: 550px;
  height: 309px;
}


#letterbutton {
  display: block;
  margin: auto; 
  width: 250px;
  padding-top: 30px;
  padding-bottom:50px;
}

#donate {
  padding: 30px 0px;
  margin-left: 0;
  width: 260px;
  height: 398px;

}

#givefoodp {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;

}

#instafeed {
  text-align: center;
  clear: both;
}

.socialicons {
  width: 30px;
  margin-left:10px;
  float: left;
}

.socialicons:first-of-type{
  margin-left: 20px;
}

.button {

  margin: 10px;
  width: 200px;
}

.wrapper{
  width: 1000px;
  margin: auto;
}

.column2 {
  width: 500px;
  float: left;
  padding-bottom: 50px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

