@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600);


#hero {
  text-align: center;
  background: url("../images/gfh_background.gif");
  background-size: cover; /*For covering full page*/
  background-color: #e0dbb3;
  background-position: center;
  color:#538243;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 100%;
  padding-top: 50px;

}

header {
  font-family: 'Open Sans', sans-serif;
}

body {

  margin:0 ;
  
}

h1{

  font-size: 1.5em;
  padding: 0 50px;
}

#logo {

   display: block;
   margin: auto; 
   width: 380px;
}

#ourstory {

  text-align: center;
  background: url("../images/gfh_veggiesbackground.png");
  display: inline-block;
  padding: 0 50px;
  color:#538243;

}

#givefood {

  text-align: center;
  display: inline-block;
  padding: 0 50px;
  color:#538243;

}

.button {

  margin: 10px;
  width: 200px;
}

iframe {

  display: inline-block;
  padding: 20px 100px;  

}

#letterbutton {
  display: block;
  margin: auto; 
  width: 300px;
}


