h1 {
} 

body {
  text-align: center;
  background: url("images/gfh_background.gif");
  background-color: #e0dbb3;
  background-size: cover; /*For covering full page*/
  background-position: center;
  color:#538243;
  font-family: Open Sans; 
 }

#logo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 450px;
   height: 450px;
   margin-top: -225px; /* Half the height */
   margin-left: -225px; /* Half the width */
   max-width: 100%;
   height: auto;
   width: auto\9; /* IE8 */
}

#ourstorybutton1 {
   position: absolute;
   top: 130%;
   left: 50%;
   width: 250px;
   height: 120px;
   margin-top: -225px; /* Half the height */
   margin-left: -225px; /* Half the width */
   max-width: 100%;
   height: auto;
   width: auto\9; /* IE8 */
}

#givefoodbutton1 {
   position: absolute;
   top: 130%;
   left: 75%;
   width: 250px;
   height: 100px;
   margin-top: -225px; /* Half the height */
   margin-left: -225px; /* Half the width */
   max-width: 100%;
   height: auto;
   width: auto\9; /* IE8 */
}

p {
   position: absolute;
   top: 120%;
   left: 50%;
   width: 450px;
   height: 450px;
   margin-top: -225px; /* Half the height */
   margin-left: -225px; /* Half the width */
   font-size: 20px;
   text-align: center;
   font-weight: bold;
   color: #538243;
   max-width: 100%;
   height: auto;
   width: auto\9; /* IE8 */
}

